@font-face {
  font-family: aboutMeFont;
  src: url(assets/fonts/embolism-spark.regular.ttf);
}

nav {
  background-image: linear-gradient(hsl(347, 90%, 4%), hsl(284, 100%, 3%));
}

body {
  background-image: linear-gradient(hsl(0, 85%, 8%), hsl(339, 100%, 3%));
  font-family: aboutMeFont;
}

.separator {
  border: 0.1rem solid hsl(12, 62%, 65%);
}

.portfolio-description {
  font-size: 10rem;
  background: -webkit-linear-gradient(hsl(33, 64%, 78%), hsl(22, 52%, 68%));
  background-clip: content-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.portfolio-img {
  width: 70rem;
  height: 70rem;
  clip-path: circle();
}
