nav {
  background-image: linear-gradient(hsl(310, 94%, 6%), hsl(336, 100%, 2%));
}

.nav-link {
  font-family: techFontBold;
}

h1 {
  background: -webkit-linear-gradient(hsl(308, 42%, 64%), hsl(283, 36%, 57%));
  background-clip: content-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

body {
  font-family: techFont;
  background-image: linear-gradient(hsl(304, 69%, 14%), hsl(324, 100%, 3%));
  height: 100vh;
}

.separator {
  border: 0.1rem solid white;
}
