@keyframes fadeinall {
  0% {
    opacity: 1;
  }
  97% {
    opacity: 0;
  }
  98% {
    opacity: 0;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    z-index: -1;
  }
}

@font-face {
  font-family: musicFont;
  src: url(assets/fonts/new-rocker.regular.ttf);
}

nav {
  background-image: linear-gradient(hsl(264, 100%, 3%), hsl(243, 70%, 17%));
}

.nav-link {
  font-size: 3rem;
}

.nav-link.active {
  background: -webkit-linear-gradient(
    90deg,
    hsl(4, 62%, 50%),
    hsl(14, 66%, 63%)
  );
  background-clip: content-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration: underline;
}

.nav-item {
  padding: 0rem 4rem;
  text-align: center;
}

.navbar-brand {
  position: absolute;
  font-size: 4rem;
}

h1 {
  font-size: 16rem;
  background: -webkit-linear-gradient(hsl(210, 31%, 50%), hsl(197, 50%, 85%));
  background-clip: content-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

body {
  text-align: center;
  background-image: linear-gradient(hsl(224, 52%, 28%), hsl(244, 65%, 15%));
  font-family: musicFont;
}

.separator {
  border: 0.1rem solid hsl(186, 44%, 87%);
  place-content: center;
}

.portfolio-name {
  font-size: 12rem;
  background: -webkit-linear-gradient(hsl(204, 24%, 56%), hsl(198, 32%, 69%));
  background-clip: content-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.portfolio-description {
  font-size: 6rem;
  background: -webkit-linear-gradient(hsl(187, 36%, 77%), hsl(178, 28%, 83%));
  background-clip: content-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.portfolio-button {
  background: none;
  border: none;
}

.portfolio-button:hover {
  transform: scale(1.05);
}

.portfolio-img {
  width: 160rem;
  height: 90rem;
}

.tools-img {
  width: 40rem;
  height: 40rem;
}

.tools-name {
  font-size: 10rem;
  background: -webkit-linear-gradient(hsl(204, 24%, 56%), hsl(198, 32%, 69%));
  background-clip: content-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.block {
  border: 0.5rem solid hsl(189, 95%, 32%);
  background-color: hsl(230, 71%, 13%);
  margin: 8rem;
  padding: 0rem;
}

.text {
  text-align: center;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
}

.platforms {
  width: 30rem;
  height: 30rem;
}

.platforms:hover {
  transform: scale(1.2);
}

iframe {
  width: 128rem;
  height: 72rem;
}

video {
  width: 128rem;
  height: 72rem;
}

footer {
  font-size: 2.5rem;
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 2px;
  }
  .navbar-brand {
    display: none;
    visibility: hidden;
  }
}

@media only screen and (min-width: 768px) {
  html {
    font-size: 3px;
  }
}

@media only screen and (min-width: 992px) {
  html {
    font-size: 4px;
  }
}

@media only screen and (min-width: 1200px) {
  html {
    font-size: 5px;
  }
  .navbar-brand {
    display: initial;
    visibility: visible;
  }
}

@media only screen and (min-width: 1920px) {
  html {
    font-size: 6px;
  }
}

@media only screen and (min-width: 2560px) {
  html {
    font-size: 7px;
  }
}
