@font-face {
  font-family: musicFont;
  src: url(assets/fonts/new-rocker.regular.ttf);
}

nav {
  background-image: linear-gradient(hsl(264, 100%, 3%), hsl(243, 70%, 17%));
}

h1 {
  background: -webkit-linear-gradient(hsl(210, 31%, 50%), hsl(197, 50%, 85%));
  background-clip: content-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

body {
  background-image: linear-gradient(hsl(224, 52%, 28%), hsl(244, 65%, 15%));
  font-family: musicFont;
}

.separator {
  border: 0.1rem solid hsl(189, 95%, 32%);
}

.portfolio-name {
  background: -webkit-linear-gradient(hsl(204, 24%, 56%), hsl(198, 32%, 69%));
  background-clip: content-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.portfolio-description {
  background: -webkit-linear-gradient(hsl(187, 36%, 77%), hsl(178, 28%, 83%));
  background-clip: content-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.portfolio-img {
  width: 160rem;
  height: 90rem;
  clip-path: none;
}

.tools-img {
  width: 40rem;
  height: 40rem;
}

.tools-name {
  font-size: 10rem;
  background: -webkit-linear-gradient(hsl(204, 24%, 56%), hsl(198, 32%, 69%));
  background-clip: content-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.block {
  border: 0.5rem solid hsl(189, 95%, 32%);
  background-color: hsl(230, 71%, 13%);
}

.platforms {
  width: 30rem;
  height: 30rem;
}

.platforms:hover {
  transform: scale(1.2);
}

iframe {
  width: 128rem;
  height: 72rem;
}

video {
  width: 128rem;
  height: 72rem;
}
