@font-face {
  font-family: editingFont;
  src: url(assets/fonts/Blaka-Regular.ttf);
}

nav {
  background-image: linear-gradient(hsl(41, 94%, 6%), hsl(48, 100%, 2%));
}

.nav-link {
  font-family: editingFont;
}

.navbar-brand {
  font-family: editingFont;
}

h1 {
  background: -webkit-linear-gradient(hsl(49, 42%, 64%), hsl(36, 36%, 57%));
  background-clip: content-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

body {
  background-image: linear-gradient(hsl(61, 69%, 14%), hsl(32, 100%, 3%));
  font-family: editingFont;
}

.separator {
  border: 0.2rem solid hsl(63, 36%, 88%);
}

.portfolio-name {
  background: -webkit-linear-gradient(hsl(54, 51%, 81%), hsl(34, 31%, 67%));
  background-clip: content-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: flex;
  align-items: center;
  line-height: normal;
  justify-content: center;
}

.portfolio-description {
  background: -webkit-linear-gradient(hsl(60, 46%, 88%), hsl(69, 33%, 80%));
  background-clip: content-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.block {
  border: 0.5rem solid hsl(59, 69%, 57%);
  background-color: hsl(50, 67%, 7%);
}

iframe {
  width: 128rem;
  height: 72rem;
}
