@font-face {
  font-family: techFont;
  src: url(assets/fonts/vipnagorgialla.regular.otf);
}

@font-face {
  font-family: techFontBold;
  src: url(assets/fonts/vipnagorgialla.bold.otf);
}

nav {
  background-image: linear-gradient(hsl(163, 94%, 6%), hsl(175, 100%, 2%));
}

.nav-link {
  font-family: techFontBold;
}

.navbar-brand {
  font-family: techFontBold;
}

h1 {
  background: -webkit-linear-gradient(hsl(115, 42%, 64%), hsl(123, 36%, 57%));
  background-clip: content-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

body {
  font-family: techFont;
  background-image: linear-gradient(hsl(138, 68%, 14%), hsl(206, 100%, 3%));
}

.skill {
  color: gold;
  font-size: 10rem;
}

.separator {
  border: 0.1rem solid hsl(120, 100%, 25%);
}

.project-name {
  background: -webkit-linear-gradient(hsl(125, 36%, 54%), hsl(130, 32%, 50%));
  background-clip: content-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: flex;
  align-items: center;
  line-height: normal;
  justify-content: center;
}

.portfolio-name {
  background: -webkit-linear-gradient(hsl(125, 36%, 54%), hsl(130, 32%, 50%));
  background-clip: content-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: flex;
  align-items: center;
  line-height: normal;
  justify-content: center;
  height: 30rem;
}

.portfolio-description {
  background: -webkit-linear-gradient(hsl(113, 40%, 68%), hsl(120, 32%, 59%));
  background-clip: content-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.block {
  border: 0.5rem solid hsl(120, 100%, 25%);
  background-color: hsl(136, 68%, 7%);
}

.uniasselvi-icon {
  transform: scale(0.8);
}
