@font-face {
  font-family: linksFont;
  src: url(assets/fonts/neuropol.regular.otf);
}

nav {
  background-image: linear-gradient(hsl(349, 91%, 5%), hsl(0, 100%, 2%));
}

body {
  font-family: linksFont;
  background-image: radial-gradient(hsl(281, 78%, 13%), hsl(252, 100%, 3%));
}

.separator {
  border: 0.1rem solid hsl(192, 48%, 82%);
}

.portfolio-button {
  background-color: hsl(225, 51%, 35%);
  border: 0.2rem solid hsl(207, 45%, 67%);
}
