@keyframes fadeinall {
    0% {
      opacity: 1; }
    97% {
      opacity: 0; }
    98% {
      opacity: 0;
      -webkit-transform: translateY(0);
      transform: translateY(0); }
    100% {
      opacity: 0;
      -webkit-transform: translateY(-100%);
      transform: translateY(-100%);
      z-index: -1; } }


@font-face {
  font-family: techFont;
  src: url(assets/fonts/vipnagorgialla.regular.otf);
}

@font-face {
  font-family: techFontBold;
  src: url(assets/fonts/vipnagorgialla.bold.otf);
}

nav {
  background-image: linear-gradient(hsl(163, 94%, 6%), hsl(175, 100%, 2%));
}

.nav-link {
  font-size: 2rem;
  font-family: techFontBold;
}

.nav-link.active {
  background: -webkit-linear-gradient(90deg, hsl(4, 62%, 50%), hsl(14, 66%, 63%));
  background-clip: content-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration: underline;
}

.nav-item {
  width: 20rem;
  text-align: center;
}

.navbar-brand {
  position: absolute;
  font-size: 4rem;
  font-family: techFontBold;
}

h1 {
  font-size: 10rem;
  background: -webkit-linear-gradient(hsl(115, 42%, 64%), hsl(123, 36%, 57%));
  background-clip: content-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

body {
  text-align: center;
  font-family: techFont;
  background-image: linear-gradient(hsl(138, 68%, 14%), hsl(206, 100%, 3%));
}

.separator {
  border: 0.1rem solid white;
  place-content: center;
}

.tech-item {
  margin: 2rem;
}

.skill {
  color: gold;
  font-size: 6rem;
}

.portfolio-name {
  font-size: 6rem;
  background: -webkit-linear-gradient(hsl(125, 36%, 54%), hsl(130, 32%, 50%));
  background-clip: content-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.portfolio-description {
  font-size: 4rem;
  background: -webkit-linear-gradient(hsl(113, 40%, 68%), hsl(120, 32%, 59%));
  background-clip: content-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.portfolio-button {
  background: none;
  border: none;
}

.portfolio-button:hover {
  transform: scale(1.05);
}

.portfolio-img {
  width: 20rem;
  height: 20rem;
  clip-path: circle();
}

.certification-img {
  width: 10rem;
  height: 10rem;
}

.profile-img {
  transform: scale(0.8);
}

.uniasselvi-icon {
  transform: scale(0.8);
}

footer {
  font-size: 2.5rem;
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 2px;
  }
  .navbar-brand {
    display: none;
    visibility: hidden;
  }
}

@media only screen and (min-width: 768px) {
  html {
    font-size: 3px;
  }
}

@media only screen and (min-width: 992px) {
  html {
    font-size: 4px;
  }
}

@media only screen and (min-width: 1200px) {
  html {
    font-size: 5px;
  }
  .navbar-brand {
    display: initial;
    visibility: visible;
  }
}

@media only screen and (min-width: 1920px) {
  html {
    font-size: 6px;
  }
}

@media only screen and (min-width: 2560px) {
  html {
    font-size: 7px;
  }
}